asgiref==3.2.7
Django==3.1.9
django-auto-prefetch==0.0.5
django-debug-toolbar==2.2
django-extensions==2.2.9
django-js-asset==1.2.2
django-mptt==0.11.0
Faker==4.0.3
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
text-unidecode==1.3
